body{
  font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 10px;
}

a{
  color: #D6D6D6;
  text-decoration: none;
}

h1{
  margin: 0 auto;
  width: 222px;
  padding: 20px;
  color: #BFBFBF;
  border: 1px solid #EAEAEA;
  border-radius: 1px;
}

#home{
  display: block;
  margin: 0 auto;
}

span{
  display: none;
  text-align: center;
  padding: 25px;
}

button{
  display: block;
  margin: 0 auto;
  width: 200px;
  background: black;
  padding: 20px;
  color: white;
  border-color: black;
  border-radius: 2px;
}

p{
  text-align: center;
  background: white;
  color: #CCCCCC;
  margin: 40px;
  font-size: 90px;
}

ul{
  color: white;
  text-align: center;
  margin: 0;
  padding: 26;
}

li{
  display: inline;
}
